<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zara</title>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>
	<div id="kart">
		<a class="link" href="/cart">
			<img src="/static/img/cart.jpg" id="cartIcon" />
			Cart
		</a>
	</div>
	<header id="header" class="header">
		<div class="kart">
		<a class="link" href="/cart">
			<img src='/static/img/cart.jpg' alt="здесь должна была быть картинка, но не нашлась" class="kart"/>
		</a>
		</div>
		<div class="container">
			<div class="nav">
				<ul class="menu">
					<li>
						<a href="#offer">
							Home
						</a>
					</li>
					<li>
						<a href="#sale">
							Sale
						</a>
					</li>
					<li>
						<a href="#gallery">
							Models
						</a>
					</li>
					<li>
						<a href="#footer">
							Info
						</a>
					</li>
				</ul>
			</div>
			<div class="offer" id="offer">
				<p>Fashion is a lifestyle</p>
				<h1>
					Zara
				</h1>
				<a href="https://www.zara.com/kz/" class="btn">Buy now</a>
			</div>
		</div>
	</header>
	<section id="about" class="about">
		<div class="container">
			<h2 id="sale">Catalog</h2>
			<div class="description">
				<div class="desc-left">
					<h3>Zara TRF</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna ante, egestas ac nibh sit amet, vehicula posuere quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium consequat volutpat. Integer ultricies ligula eget arcu volutpat vehicula. Sed et congue nisi, ac cursus ex. Duis tempus arcu magna, quis auctor odio congue in. Duis nunc leo, tempor nec dignissim sed, euismod vel nibh.
					</p>
				</div>
				<div class="desc-right">
					<h3>Zara Basic</h3>
					<p>
						Nulla eros justo, vulputate ac eros in, semper pharetra ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque venenatis pellentesque lacus, eget commodo velit. Vivamus porta lobortis elit, fringilla imperdiet leo placerat id. Sed volutpat et tortor id ultricies. Integer efficitur mi id dui porta eleifend. Aliquam aliquet condimentum eros eu euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus euismod accumsan mauris at tincidunt. Etiam euismod vitae elit ut feugiat.
					</p>
				</div>
			</div>
			<div class="gallery" id="gallery">
				<img src="/static/img/zara1.jpg" alt="Event photo 1">
				<img src="/static/img/zara2.jpg" alt="Event photo 2">
				<img src="/static/img/zara3.jpg" alt="Event photo 3">
			</div>
		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-text">
				<p>
					©2022 zara
				</p>
				<p>
					ALL RIGHTS RESERVED
				</p>
			</div>
		</div>
	</footer>
</body>
</html>